<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommendation</title>
</head>
<body>

    <body>
        <h1>Recommended Recipe</h1>
        <p>Name: {{ recommendation.Name }}</p>
        <p>Calories: {{ recommendation.Calories }}</p>
        <p>Ingredients: {{ recommendation.RecipeIngredientParts }}</p>
        <p>Instructions: {{ recommendation.RecipeInstructions }}</p>
    </body>

</body>
</html>
